<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>

<div style="height: 100vh; width: 20vw; background-color: rgba(0, 0, 0, 0.2);">
  <div class="col-lg-10 mx-auto mb-4 w-30 p-3">
    <img src="Logo.jpeg" class="img-thumbnail" height="200" width="300">
  </div>


  <div align="center" class="align-middle">
    <div class="mx-auto" style="height: 15vh;"></div>
    <button class="col-lg-10 mx-auto mb-4 w-30 p-2" style="background-color:rgba(0, 0, 0, 0.3); color:white; " type="button" value="Ingresos">Ingresos y Egresos</button> <p></p>
    <div class="mx-auto" style="height: 5vh;"></div>
    <button class="col-lg-10 mx-auto mb-4 w-30 p-2" style="background-color:rgba(0, 0, 0, 0.3); color:white" type="button" value="Usuarios">Usuarios</button> <p></p>
    <div class="mx-auto" style="height: 5vh;"></div>
    <button class="col-lg-10 mx-auto mb-4 w-30 p-2" style="background-color:rgba(0, 0, 0, 0.3); color:white" type="button" value="Empresas">Empresas</button> <p></p>
  </div>

</div>

<div class="position-absolute bottom-0 end-0" style="height: 100vh; width: 80vw; background-color: white">

  <div class="mx-auto" style="height: 5vh;"></div>
  <h2 align="center">Sistema de gestión de ingresos y gastos</h2>
  <div class="mx-auto" style="height: 5vh;"></div>
  <h3><u>Ingresos y egresos</u></h3>
  <div class="mx-auto" style="height: 5vh;"></div>

  <div class="position-absolute top-2 start-50 translate-middle-x" style="height: 65vh; width: 50vw; background-color:  rgba(0, 0, 0, 0.2);">

    <div class="mx-auto" style="height: 5vh;"></div>
    <h4 align="center">Nuevo movimiento de dinero</h4>
    <div class="mx-auto" style="height: 5vh;"></div>

    <div class="position-absolute top-2 start-50 translate-middle-x" style="height: 42vh; width: 16vw; background-color:  rgba(0, 0, 0, 0.0);">

      <form>

        <label>Monto</label>
        <div class="mx-auto" style="height: 0.1vh;"></div>
        <input type="text" name="Monto" required> <p></p>

        <label>Concepto</label>
        <div class="mx-auto" style="height: 0.1vh;"></div>
        <input type="text" name="Concepto" required><p></p>

        <label>Fecha</label>
        <div class="mx-auto" style="height: 0.1vh;"></div>
        <input type="date" name="Fecha" required><p></p>

        <button
                class="position-absolute bottom-0 start-50 translate-middle-x"
                style="background-color:  rgba(0, 0, 0, 0.2); color:white;"
                type="submit"
                value="Ingresar" >Ingresar</button>
      </form>

    </div>



  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>
